<h1>The Club</h1>
<body>

  Venue :<p><%= @club.name %></p>
  <p><%= @club.address %></p>

</body>

<% if @club.errors.any? %>
  <ul>
    <%   @club.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <%end%>
  </ul>
<%end%>
