
<a href="/jokes">Enter your Joke vault.</a><br>
<a href="/shows">Anounce a show, edit the details, or see all your upcoming events.</a><br>
<%= link_to "affiliated clubs", clubs_path %> <br>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
