<h2>Start writing joke</h2>



<%= render 'form' %>

<a href="/jokes">Go home
</a>
<br></br>

<a href="/">Your Vault homepage</a><br>
<%= link_to "Logout", destroy_user_session_path, method: :delete %>
