

<h2>Start writing show</h2>

<% if @show.errors.any? %>
  <ul>
<%   @show.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
    <%end%>
    </ul>
  <%end%>

<%= render 'form' %>


<a href="/shows">Go home </a><br>
</br>

<%= link_to "Logout", destroy_user_session_path, method: :delete %>
</form>
